__pycache__/
.ipynb_checkpoints/
cnn_basic_knowledge/data/
cnn_basic_knowledge/models/
vision_transformer_practice/data/
vision_transformer_practice/checkpoints*/
vision_transformer_practice/results*/
